[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]

url = "http://aibs-artifactory.corp.alleninstitute.org/artifactory/api/pypi/pypi-local/simple"
verify_ssl = false
name = "local"


[dev-packages]

bumpversion = "*"
tox = "*"
coverage = "*"
sphinx = "*"
cookiecutter = "*"
sphinx-gallery = "*"
pytest = "*"
"ruamel.yaml" = "*"
ecephys_cached_data_service = ">=0.1.5"


[packages]

matplotlib = "*"
scipy = "*"
numpy = "*"
pandas = "*"
GitPython = "*"
pillow = "*"
argschema = "*"
xmljson= "*"
xarray= "*"
scikit-learn = "*"


[requires]
python_version = "3.6"